@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

#banner_img {
  animation: upDown 2s infinite ease-in-out;
}

@keyframes upDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(0);
  }
}
